:root {
    --hover_color: #00a6fb;
    --hover_color: #00000038;
}

.xfont {
    font-family: "Poppins";
    font-weight: 500;
}

.font800 {
    font-family: "Poppins";
    font-weight: 800;
}

.font600 {
    font-family: "Poppins";
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.swiper-slide video:hover {
    scale: 0.99;
    transition: 200ms all;
}